.container2 {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
.chat-item {
  display: flex;
  padding: 10px 0;
  width: 100%;
  contain: layout;
  will-change: transform;
}

.avatar {
  border-radius: 500px;
  margin-left: 20px;
  margin-right: 6px;
  min-width: 48px;
}

.chat-item p {
  margin: 0;
  word-wrap: break-word;
  font-size: 13px;
}

.chat-item.tombstone p {
  width: 100%;
  height: 0.5em;
  background-color: #ccc;
  margin: 0.5em 0;
}

.chat-item .bubble img {
  max-width: 100%;
  height: auto;
}

.bubble {
  padding: 7px 10px;
  color: #333;
  background: #fff;
  box-shadow: 0 3px 2px rgba(0,0,0,0.1);
  position: relative;
  max-width: 420px;
  min-width: 80px;
  margin: 0 5px;
}

.bubble::before {
  content: '';
  border-style: solid;
  border-width: 0 10px 10px 0;
  border-color: transparent #fff transparent transparent;
  position: absolute;
  top: 0;
  left: -10px;
}

/*.bubble img {
  width: 80%;
}*/

.meta {
  font-size: 0.8rem;
  color: #999;
  margin-top: 3px;
}

.from-me {
  justify-content: flex-end;
}

.from-me .avatar {
  order: 1;
  margin-left: 6px;
  margin-right: 20px;
}

.from-me .bubble {
  background: #F9D7FF;
}

.from-me .bubble::before {
  left: 100%;
  border-width: 10px 10px 0 0;
  border-color: #F9D7FF transparent transparent transparent;
}
.state {
  display: none;
}
.invisible {
  display: none;
}


html, body {
height: 100%;
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
overflow: hidden;
-webkit-tap-highlight-color: rgba(0,0,0,0);
}

#templates{
  display: none;
}

.b-card-item--premium{
  width: 100%;
  height: 270px;
}

.tombstone{
    background: green;
    width: 100%;
    height: 270px;
    padding: 10px;
    /* margin: 10px; */
    border: 3px solid gainsboro;
}
header{
  display: inline-block;
  height: 100px;
  background: peru;
}