<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="author" content="Paul Lewis">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" type="text/css" href="/css/all.css">
	<link rel="stylesheet" type="text/css" href="/css/infinite.css">
	<link rel="stylesheet" type="text/css" href="/css/search.css">
</head>
<body>
	<div id="templates">
		<article data-id="{{id}}" class="b-card-item tombstone b-card-item--default js-tombstone">
			<div class="b-card-item-link">
				<section class="b-card-picture">
					<span class="b-card-tag"></span>
					<div class="b-card-image">
						<div class="b-card-image-slider"></div>
					</div>
				</section>

				<section class="b-card-information">
				<div class="b-card-description">
					<div class="b-card-description-titles">
							<h2 class="b-card-title"></h2>
							<div class="b-card-subtitle">
								<h4 class="b-card-subtitle-text u-word-breaker"></h4>
							</div>
						<h3 class="b-card-location"></h3>
					</div>
					<div class="b-card-description-body">
					<p class="b-card-presentation"></p>
					<div class="b-card-features"></div>
					</div>
				</div>
				<div class="b-card-calltoaction">
					<div class="b-card-prices"></div>
					<div class="b-card-action"></div>
				</div>
				</section>        

			</div>
		</article>

		<article class="b-card-item js-card-item">
			<a href="#" class="b-card-item-link">
				<section class="b-card-picture"><span class="b-card-tag"></span>
					<div class="b-card-image">
						<div class="b-card-image-slider ">
						<div>
						<img src="" width="200" height="175"/>
						</div>
						</div>
					</div>

					<div class="b-card-media">
						<span class="b-card-media-pic">
						<i class="icon-pic"></i>
						<i class="b-card-media-number"></i>
						</span>

						<span class="b-card-media-video">
						<i class="icon-video2"></i>
						</span>
					</div>
				</section>

				<section class="b-card-information">
				  <div class="b-card-description">
					<div class="b-card-description-titles">
						<h2 class="b-card-title"></h2>
						<div class="b-card-subtitle">
							<span class="icon-marker"></span>
							<h4 class="b-card-subtitle-text u-word-breaker"></h4>
						</div>
						<h3 class="b-card-location"></h3>
					</div>
					<div class="b-card-description-body">
					  <p class="b-card-presentation "></p>

					  <p class="b-card-especification">
					<span></span>
					<span class="e-delivery-date u-word-breaker ">
					</span>
					  </p>

				<div class="b-card-features">
					<span class="b-card-features-item b-card-features-area"></span>

				<div class="b-card-features-item b-card-features-group">
					<span class="b-card-features-bedrooms"></span>
					<span class="b-card-features-bathrooms"></span>
				</div>
				</div>

					</div>
				  </div>


				<div class="b-card-calltoaction">
				<div class="b-card-prices">
					<span class="b-card-prices-title"></span>
					<span class="b-card-currency-first"></span>
					<span class="b-card-currency-secondary"></span>
				</div>
				<div class="b-card-action">
					<span class="u-button-primary__orange b-card-button ">Contactar</span></div>
				</div>

				</section>
				</a>
		</article>
	</div>
		<header>
		
	</header>
	<ul class="container container2" data-url="?anotherItem=5&page=9">
	</ul>
	
	<div class="b-pagination-container js-pagination-container" style="display: none">

		<div class="b-pagination-control js-pagination-scroll">
			<ul class="b-legend-page">
				<li class="e-link-page js-pagination-element"><a href="/buscar/venta-de-departamentos?page=1" class="e-link-page active">1</a></li>
				<li class="e-link-page js-pagination-element"><a href="/buscar/venta-de-departamentos?page=2" class="">2</a></li>
				<li class="e-link-page js-pagination-element"><a href="/buscar/venta-de-departamentos?page=3" class="">3</a></li>
				<li class="e-link-page js-pagination-element"><a href="/buscar/venta-de-departamentos?page=4" class="">4</a></li>
				<li class="e-link-page js-pagination-element"><a href="/buscar/venta-de-departamentos?page=5" class="">5</a></li>
				<li class="e-link-page js-pagination-element"><a href="/buscar/venta-de-departamentos?page=6" class="">6</a></li>
				<li class="e-link-page js-pagination-element"><a href="/buscar/venta-de-departamentos?page=7" class="">7</a></li>
				<span class="e-link-page js-pagination-element"><a href="/buscar/venta-de-departamentos?page=2">&gt;</a></span>
				<span class="e-link-page js-pagination-element"><a href="/buscar/venta-de-departamentos?page=100">&gt;&gt;</a></span>
			</ul>
		  </div>
	</div>


	<script type="text/javascript" src='/jquery.js'></script> 
	<script type="text/javascript" src='/yOSON.js'></script>
	<script type="text/javascript" src='/commons.js'></script>
	<script type="text/javascript" src='/js/infinite.js'></script>
	<script type="text/javascript" src='/js/attach.js'></script>
	<script type="text/javascript" src='/js/getdata.js'></script>



	<script type="text/javascript" src='/js/main.js'></script>
	<script type="text/javascript " src='/js/run.js'></script>
	<script type="text/javascript" src='/js/scheme.js'></script>
</body>
</html>
